@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0c1d;
  --white: #fff;
  --paleYellow: #f3f9d2;
  --paleYellowOpacity: #f3f9d2aa;
  --paleGrey: #ebd8da;
  --boxShadow: #b2b2b233;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 80%; 
  }
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
}

nav {
  align-self: end;
}

main {
  flex: 1;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--paleGrey);
}